
<div class="feed">
  <p>Showing <%= pluralize(@users.count, 'user') %></p>
  
<% @users.each do |user| %>
<%= image_tag user.pic %>
  <div class="item-details">
		<%= link_to user.name, user_path(user), style: 'font-weight: bold' %>
	</div>
<% end %>
</div>