<header>
	<h1>Musicbox</h1>
</header>

<p>Showing <%= pluralize(@users.count, 'user') %></p>

<ul>
<% @users.each do |user| %>
	<li>
		<%= image_tag user.pic %>
		<%= link_to user.name, user_path(user) %>
	</li>
<% end %>
</ul>