<ul>
  <% if user_signed_in? %>
    <li>
    	Welcome <%= current_user.name %> | <%= link_to 'Logout', signout_path %>        
    </li>
    <!-- <li>
    Logged in as <%= current_user.name %>
    </li> -->
    <% end %>
</ul>