<ul>
  <% if user_signed_in? %>
    <li>
    	<%= link_to current_user.name, current_user %> <%= link_to 'Logout', signout_path %>        
    </li>
    <!-- <li>
    Logged in as <%= current_user.name %>
    </li> -->
    <% end %>
</ul>