<header>
	<h1>Musicbox</h1>
</header>


<div class="feed">
  <% @feed_items.each do |item| %>
  <div class="feed_item">
    <h3><%= item.name %></h3>
		<h6>Tagged by: <%= link_to item.user.name, user_path(item.user) %></h6>
		<% if item.playlists.any? %>
		<p>Playlists: 
			<% item.playlists.each do |playlist| %>
				<%= link_to playlist.title, playlist_path(playlist.id) %>
			<% end %>
		</p>
		<% end %>
  </div><!-- //feed -->
<% end %>
</div><!-- //feed_item -->