
<div class="feed">
  <h3 style="text-align: center; margin: 0 0 10px;">Play songs from your feed</h3>

  <center class="song">
  	<object width="600" height="250"><param name="movie" value="http://grooveshark.com/widget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=cowbell.grooveshark.com&songIDs=<%= @songs %>&bbg=474747&bth=white&pfg=ffffff&lfg=white&bt=white&pbg=1F76D9&pfgh=1F76D9&si=1F76D9&lbg=1F76D9&lfgh=1F76D9&sb=1F76D9&bfg=1F76D9&pbgh=1F76D9&lbgh=B1BABF&sbh=B1BABF&p=0" /><embed src="http://grooveshark.com/widget.swf" type="application/x-shockwave-flash" width="250" height="250" flashvars="hostname=cowbell.grooveshark.com&songIDs=<%= @songs %>&bbg=474747&bth=white&pfg=ffffff&lfg=white&bt=white&pbg=813B45&pfgh=813B45&si=813B45&lbg=813B45&lfgh=813B45&sb=813B45&bfg=B1BABF&pbgh=B1BABF&lbgh=B1BABF&sbh=B1BABF&p=0" allowScriptAccess="always" wmode="window" /></object>
  </center>
</div>

 <!-- future favicon "http://cdn1.iconfinder.com/data/icons/devine_icons/Black/PNG/System%20and%20Internet/Speaker%20and%20Sound.png", style: 'max-width: 100px;'%> -->