<script type="text/javascript" src="https://crossrider.cotssl.net/javascripts/installer/installer.js"></script>

<script type="text/javascript">
var __CRI = new crossriderInstaller({
	app_id:5004,
	app_name:'musicbox'
});

var _cr_button = new __CRI.button({
	button_size:'small',
	color:'blue'
});

//__CRI.install(); //use this if you want to use your own button
</script>

<div id="crossriderInstallButton"></div>