<header>
  <h1>Musicbox</h1>
</header>

<div class='twitter-login'>
  <%= link_to('Twitter Login', signin_twitter_path)  %>  
</div>
<div class='facebook-login'>
  <%= link_to('Facebook Login', signin_facebook_path)  %>
</div>
