body {
	margin: 0;
	padding: 0;
	font-family: $helvetica;
	font-size: 14px;
	background-color: rgba(217, 217, 217, 1);
/*	background-image: -webkit-repeating-linear-gradient( 45deg, transparent 0, rgba(0, 0, 0, .015) 5px), -webkit-repeating-linear-gradient(-45deg, transparent 0, rgba(0, 0, 0, .015) 5px);*/
	background-image: url('rough_diagonal.png');
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

.button {
	@include button;
}

.flash {
	ul {
		margin: 0;
	}
}

.hmenu {
	height: 35px;
	overflow: hidden;
	background: rgba(71, 71, 71, 0.95);
	color: #222;
	font-weight: bold;
	border-bottom: 1px solid #222;
	@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.2));
	
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
			padding: 10px 10px 10px 10px;
			float: right;
			&:first-child { padding-right: 30px}
			
			a {
				color: #1F76F9;
				text-decoration: none;
				background-image: -webkit-linear-gradient(bottom, #1F76D9 0%, #4B9FDB 100%);
				padding: 5px 10px;
				@include border-radius(2px);
				font-weight: bold;
				font-size: 12px;
				&:first-child { color: whiteSmoke };
			}
		}	
	}
}

.main {
	width: 700px;
	height: 600px;
	margin: auto;
	margin-top: 80px;
	background-color: whiteSmoke;
	@include border-radius(5px);
	@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.2));
	
	header {
		background: #474747;
		height: 130px;
		@include border-top-left-radius(5px);
		@include border-top-right-radius(5px);
		border-top: 0.5px solid whiteSmoke;	
			
		h1 {
			font-size: 64px;
			padding: 40px 0 10px 20px;
			color: #222;
			text-shadow: 0px 1px 3px #666;
		}
	}
	.songs {
		margin: 20px;
		background: white;
		border: 1px solid #C2C2C2;
		@include border-radius(4px);
		
		.song {
			border-bottom: 1px solid #EBEBEB;
			padding: 20px;
			h3 {
				line-height: 25px;
				font-size: 15px;
				color: #36393B;
				font-weight: bold;
			}
			
			h4 {
				font-size: 13px;
				line-height: 25px;
				color: #8E969B;
				font-weight: normal;
			}
		}
	}	
	
	.profile-header {
		margin: 20px;
		padding: 10px;
		background: white;
		border: 1px solid #C2C2C2;
		@include border-radius(4px);
		max-height: 60px;

		.name-section {
			display: inline-block;
			padding: 0 0 0 10px;
			
			img {
				float: left;
			}
			
			h3 {
				margin: 0;
				float: left;
				
				span {
					font-weight: normal;
					font-size: 14px;
				}
			}
		}
	}
	
	.playlists {
		margin: 20px;
		padding: 10px;
		background: white;
		border: 1px solid #C2C2C2;
		@include border-radius(4px);
		max-height: 60px;
		
		p {
			text-align: center;
			
			a {
				text-decoration: none;
				color: #1F76D9;
			}
		}
	}
}








